* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  transition: transform 0.2s;
  display: inline-block;
  font-size: 24px;
}

a:hover {
  color: #e5a80e;
  transform: scale(1.2);
}

ul {
  list-style: none;
}
body {
  background-image: url(./assets/img/background.jpg);
  background-size: cover;
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  border-bottom: 1px solid #fff;
  margin-bottom: 16px;
  align-items: center;
}

header ul {
  display: flex;
  gap: 8px;
}

main {
  text-align: center;
}
.container .name h1 {
  font-size: 50px;
}

.container .name h5 {
  font-size: 25px;
}

.about {
  font-weight: 100;
  max-width: 600px;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  transition: 300ms;
}

.show {
  height: 100px;
}

#arrow {
  margin-top: 8%;
  font-size: 24px;
  margin-bottom: 5px;
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}
#animation {
  transition: 300ms;
}

.form {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-top: 16px;
}

#logo {
  width: 50px;
  border-radius: 50%;
}
.form button {
  padding: 4px;
  border: none;
  height: 30px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
form {
  display: flex;
  justify-content: center;
}
.form input {
  padding: 4px;
  height: 30px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(./assets/img/background-mobile.jpg);
    background-size: 130%;
  }
}
